@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700;800;900;1000&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

button {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

/*Colors
 [  #D1DDEB nav bar text color 
    #141928 nav bar background color ] */

/* ////// NAV BAR SECTION ////// */
nav {
    background-color: #141928;
    padding: 0.8rem 3rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

nav ul, .nav-items{
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul {
    justify-content: space-between;
    margin: 0;
    padding: 0 4rem 0 0;
}

nav ul li {
    cursor: pointer;
}

.logo img {
    width: 6rem;
    height: 3rem;
}

.nav-items {
    gap: 2rem;
}

.nav-items a {
    text-decoration: none;
    color: #D1DDEB;
    font-size: 1rem;
}

.nav-items .a-links.active {
    border-bottom: 1px solid #D1DDEB;
}

.nav-items .a-links:hover {
    border-bottom: 1px solid #D1DDEB;
    padding-bottom: 0.2rem;
}

.nav-items button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #D1DDEB;
    color: #141928;
    border-radius: 0.3rem;
    border: none;
    
}

.nav-items button:hover, .mobile-menu button:hover {
    background: transparent;
    color: #D1DDEB;
    border-right: 1px solid #D1DDEB;
    border-left: 1px solid #D1DDEB;
    box-shadow: 0 4px 8px #fff8f84d;
}

.nav-menu-icon, .mobile-menu, .remove-nav-icon {
    display: none;
}

/* ////// TOP CONTAINER ////// */
.top-container {
    display: flex;
    align-items: flex-start;
    padding:15rem 5rem 0;
    background-color: #16122C;
}

.top-container img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 4rem;
    line-height: 6rem;
    margin: 0;
    color: white;
}

.top-container p {
    font-size: 1rem;
    color: #D1DDEB;
    width: 70%;
}

.top-container button {
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    background-color: #D1DDEB;
    color: #141928;
    border-radius: 0.3rem;
    border: none;
}

/* ////// IDEA CONTAINER ////// */

.idea-container {
    display: flex;
    align-items: flex-start;
    padding: 8rem 5rem;
    gap: 3rem;
}

h2 {
    font-size: 2.5rem;
    color: #141928;
}

.idea-container p {
    color: #8492a6;
    font-size: 1.2rem;
}

/* ////// IDEA CONTAINER ////// */
.about-container {
    padding: 10rem 8rem 5rem;
}

.about-container h2 {
    text-align: center;
    margin-bottom: 5rem;
}

.about-img-text {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
}

.about-img-text img {
    width: 50%;
    height: auto;
}

.about-img-text p {
    font-size: 2rem;
    line-height: 4rem;
    margin: 0 0 3rem;
    color: #8492a6;
}

.about-img-text a {
    font-size: 2rem;
    color: #8492a6;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}

.about-img-text a:hover {
    color: #D1DDEB;
}


/* ////// CALL TO ACTION ////// */
.call-to-action {
    background-color: #16122C;
    padding: 8rem;
}

.call-action {
    background-color: #D1DDEB;
    padding: 3rem 2rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.call-action div {
    width: 60%;
}

.call-action h2 {
    margin: 0;
    color: #141928;
}

.call-action p {
    margin-bottom: 0;
    font-size: 1rem;
}

.call-action button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    background-color: #16122C;
    color: #D1DDEB;
    border-radius: 0.5rem 0.5rem 0 0;
    cursor: pointer;
}

/* ////// FOOTER SECTION ////// */
footer {
    background-color: #D1DDEB;
    padding: 3rem 8rem 2rem;
}

.footer-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.footer-flex h4 {
    font-size: 1.5rem;
    margin: 0 0 1rem;
    color: #141928;
}

.logo-socials p {
    font-size: 1rem;
    font-weight: bold;
    color: #16122C;
    margin-top: 0;
}

.socials {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.socials a{
    font-size: 2.5rem;
    color: #16122C;
    cursor: pointer;
}

.useful-links {
    display: flex;
    flex-direction: column;
}

.useful-links a {
    text-decoration: none;
    font-size: 1rem;
    color: #16122C;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 0.8rem;
}

.useful-links a:hover {
    filter: brightness(.9);
}

.contact-details h5 {
    margin: 1rem 0 0;
    font-size: 1rem;
}

.contact-details p {
    margin: 0;
}

.copyright {
    margin-top: 4rem;
    font-size: 0.8rem;
    color: #16122C;
}



/* /////////////////// MEDIA RESPONSIVENESS /////////////////// */

@media (max-width:1200px) {
    /* ////// TOP CONTAINER ////// */
    h1 {
        font-size: 3rem;
    }

    /* ////// ABOUT SECTION ////// */
    .about-container p {
        font-size: 1.5rem;
        line-height: 3rem;
    }

    .about-container a {
        font-size: 1.5rem;
    }
}

@media (max-width:1100px) {
    /* ////// TOP CONTAINER ////// */
    .top-container {    
        padding:10rem 2rem 0;
        gap: 2rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    /* ////// IDEA SECTION ////// */
    h2 {
        font-size: 2rem;
    }

    /* ////// ABOUT SECTION ////// */
    .about-container {
        padding: 8rem 3rem 3rem;
    }

    /* ////// CALL TO ACTION ////// */
    .call-to-action {
        padding: 8rem 3rem;
    }

    /* ////// FOOTER SECTION ////// */
    footer {
        padding: 3rem 3rem 2rem;
    }

    /* ////////////////////////////// ABOUT PAGE /////////////////////////////////////// */

    /* ////// ABOUT TOP CONTAINER SECTION ////// */
    .about-top-container h1, .contact-top-container h1 {
        font-size: 2.5rem;
    }

    /* ////// WO WE ARE ////// */
    .who-we-are {
        margin: 8rem 3rem;
    }

    /* ////// HOW TO GET STARTED ////// */
    .how-to-get-started {
        padding: 5rem 3rem 8rem;
    }



    /* ////////////////////////////// CONTACT PAGE /////////////////////////////////////// */

    /* ////// CONTACT FORM ////// */
    .contact-form {
        margin: 0 3rem;
    }

    .contact-info h2 {
        font-size: 1.5rem;
    }

}

@media (max-width:850px) {
    /* ////// NAV BAR SECTION ////// */
    .nav-items {
        display: none;
    }

    .mobile-menu {
        display: inline;
        width: fit-content;
        background-color: #141928;
        position: fixed;
        z-index: 1;
        top: 4.3rem;
        padding: 2rem 5rem 4rem 1.5rem ;
    }

    .mobile-menu ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .mobile-menu ul a {
        text-decoration: none;
        color: #D1DDEB;
        font-size: 1rem;
    }

    .mobile-menu  button {
        padding: 0.5rem 2rem;
        font-size: 1rem;
        background-color: #D1DDEB;
        color: #141928;
        border-radius: 0.3rem;
        border: none;
        font-weight: 700;
        cursor: pointer;
    }

    .nav-menu-icon, .remove-nav-icon {
        display: inline;
        font-size: 2rem;
        color: #D1DDEB;
        cursor: pointer;
    }

    .nav-menu-icon.inactive, .remove-nav-icon.inactive, .mobile-menu.inactive {
        display: none;
    }


    /* ////// TOP CONTAINER ////// */
    .top-container {
        flex-direction: column;
    }

    h1 {
        width: 70%;
    }

    .top-container img {
        width: 50%;
        margin: 0 auto;
    }

    /* ////// IDEA SECTION ////// */
    .idea-container img {
        width: 50%;
    }

    /* ////// ABOUT SECTION ////// */
    .about-container p, .about-container a {
        font-size: 1rem;
    }


    /* ////// FOOTER SECTION ////// */
    .footer-flex h4 {
        font-size: 1.2rem;
    }
    
    .logo-socials p {
        font-size: 0.8rem;
    }
    
    .socials a{
        font-size: 1.5rem;
    }    
    
    .useful-links a {
        font-size: 0.8rem;
    }
    
    .contact-details h5 {
        margin: 1rem 0 0;
        font-size: 0.8rem;
    }

    .contact-details p {
        font-size: 0.8rem;
    }

    /* ////////////////////////////// ABOUT PAGE /////////////////////////////////////// */

    /* ////// WO WE ARE ////// */
    .who-we-are {
        flex-direction: column;
        align-items: center;
    }

    .who-we-are img {
        width: 100%;
    }
    
    .who-we-are-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .who-we-are h2, .who-we-are p {
        text-align: center;
    }

    .who-we-are button {
        margin: 1rem;
    }
    
}

@media (max-width:750px) {
    /* ////// TOP CONTAINER ////// */
    .top-container {    
        padding: 10rem 1.5rem 0;
    }

    /* ////// ABOUT SECTION ////// */
    .about-container {
        padding: 8rem 1.5rem 3rem;
    }

    /* ////// CALL TO ACTION ////// */
    .call-to-action {
        padding: 5rem 1.5rem;
    }

    .call-action button {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }

    /* ////// FOOTER SECTION ////// */
    footer {
        padding: 3rem 1.5rem 2rem;
    }

    /* ////////////////////////////// ABOUT PAGE /////////////////////////////////////// */

    /* ////// ABOUT TOP CONTAINER SECTION ////// */
    .about-top-container, .contact-top-container {
        padding:5rem 1.5rem 0;
    }

    /* ////// WO WE ARE ////// */
    .who-we-are {
        margin: 8rem 1.5rem;
    }

    /* ////// HOW TO GET STARTED ////// */
    .how-to-get-started {
        padding: 5rem 1.5rem 8rem;
    }

    .get-started-flex {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }



    /* ////////////////////////////// CONTACT PAGE /////////////////////////////////////// */

    /* ////// CONTACT FORM ////// */
    .contact-form {
        flex-direction: column;
        /* margin: 0 1.5rem; */
    }

    .contact-info, .contact-form form {
        width: 90%;
    }

    .contact-form button {
        font-size: 1rem;
        padding: 0.5rem 2rem;
    }

    /* ////////////////////////////// MARKET WATCH PAGE /////////////////////////////////////// */

    /* ////// MARKET WATCH ////// */
    .market-watch {
        margin: 0 1.5rem;
    }


    /* ////////////////////////////// SIGN UP AND LOGIN PAGE /////////////////////////////////////// */

    .sing-up-section {
        padding: 5rem 5rem;
    }
}

@media (max-width:550px) {
    /* ////// NAV BAR SECTION ////// */
    nav {
        padding: 0.6rem 1rem;
    }

    .nav-menu-icon,.remove-nav-icon {
        font-size: 1.5rem;
    }

    /* ////// TOP CONTAINER ////// */
    h1 {
        font-size: 2rem;
        width: 90%;
        line-height: 4rem;
    }

    .top-container button {
        font-size: 1rem;
        margin-top: 2rem;
    }

    /* ////// IDEA SECTION ////// */
    .idea-container {
        padding: 8rem 1rem 0;
        flex-direction: column;
    }

    .idea-container img {
        margin: 0 auto;

    }

    .idea-container h2 {
        text-align: center;
    }

    h2 {
        font-size: 1.5rem;
    }

    .idea-container p {
        font-size: 0.8rem;
        text-align: center;
    }


    /* ////// ABOUT SECTION ////// */
    .about-img-text {
        flex-direction: column;
    }

    .about-img-text img {
        width: 100%;
    }

    .about-img-text p {
        line-height: 2rem;
        font-size: 0.8rem;
        text-align: center;
    }

    .about-img-text a {
        font-size: 0.8rem;
    }

    /* ////// CALL TO ACTION ////// */
    .call-to-action {
        padding: 5rem 1rem;
    }

    .call-action {
        flex-direction: column;
        align-items: center;
        justify-content:  center;
        gap: 2rem;
    }

    .call-action div {
        width: 100%;
        text-align: center;
    }

    .call-action p {
        margin-top: 0.5rem;
    }

    .call-action button {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }

    /* ////// FOOTER SECTION ////// */
    footer {
        padding: 3rem 1rem 2rem;
    }

    .footer-flex {
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
    }

    /* ////////////////////////////// ABOUT PAGE /////////////////////////////////////// */

    /* ////// ABOUT TOP CONTAINER SECTION ////// */
    .about-top-container h1, .contact-top-container h1 {
        font-size: 2rem;
    }

    /* ////// WO WE ARE ////// */
    .who-we-are {
        margin: 8rem 1rem;
    }

    /* ////// HOW TO GET STARTED ////// */
    .how-to-get-started {
        padding: 5rem 1rem 8rem;
    }


    /* ////////////////////////////// CONTACT PAGE /////////////////////////////////////// */

    /* ////// CONTACT FORM ////// */
    .contact-info, .contact-form form {
        padding: 2rem 1.5rem;
    }
    .contact-info h2 {
        font-size: 1.3rem;
    }
    .contact-info, .contact-form form {
        width: 80%;
    }

    .contact-info i {
        font-size: 0.7rem;
    }

    .contact-info h3 {
        font-size: 1rem;
    }

    .contact-info p {
        font-size: 0.8rem;
    }

    .contact-form form input {
        height: 2.5rem;
        font-size: 0.8rem;
    }

    /* ////////////////////////////// MARKET WATCH PAGE /////////////////////////////////////// */

    /* ////// MARKET WATCH ////// */
    .market-watch {
        margin: 0 1rem;
    }


    /* ////////////////////////////// SIGN UP AND LOGIN PAGE /////////////////////////////////////// */

    .sing-up-section {
        padding: 5rem 2rem;
    }

    .form-container form span {
        font-size: 0.85rem;
    }

    .input, .form-container form select {
        height: 2rem;
        font-size: 0.8rem;
    }

    .reg-btn {
        padding: 0.5rem;
    }

    .terms-privacy p, .remember-me p {
        font-size: 0.8rem;
    }

    .already-have-acc {
        font-size: 0.8rem;
    }

    .remeber-forget a {
        font-size: 0.8rem;
    }
}